#background-image {
	z-index: -2;
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	opacity: 0.8;
	background-image: url("/src/Resources/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

.suggestion-box {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 25%;
}
