#background-image {
	z-index: -1;
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	opacity: 0.8;
	background-image: url("/src/Resources/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
